
*.pyc
*.pyc
src/__pycache__/__init__.cpython-311.pyc
src/logic/__pycache__/__init__.cpython-311.pyc
src/logic/__pycache__/cluster_group.cpython-311.pyc
src/logic/__pycache__/levenshtein.cpython-311.pyc
src/logic/__pycache__/preprocessor.cpython-311.pyc
src/utils/__pycache__/__init__.cpython-311.pyc
src/utils/__pycache__/clustering_tools.cpython-311.pyc
tests/__pycache__/__init__.cpython-311.pyc
tests/logic/__pycache__/__init__.cpython-311.pyc
tests/logic/__pycache__/test_cluster_group.cpython-311.pyc
tests/logic/__pycache__/test_levenshtein.cpython-311.pyc
tests/logic/__pycache__/test_preprocessor.cpython-311.pyc
/.venv
